body{
    background-color: black;
    color: aliceblue;
}

h1{
    margin-top: 10px;
}

.container{
    margin-top: 50px;
}
#submitvalidation{
    background-color: #42496e;
    border:  rgb(0, 0, 0) solid ;
    width: 200px;
    color:white;
    position: relative;
  top: 50%;
 
  transform: translateX(150%);
    

}
